// layout.scss

.todo-container {
    background-color: $container-bg-dark;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  
    body.light-mode & {
      background-color: $container-bg-light;
    }
  }